<div *ngFor="let form of formActions.bioForm; let i = index" [formGroup]="form">
  <mat-expansion-panel>
    <mat-expansion-panel-header> Bio </mat-expansion-panel-header>
    <h2>Name</h2>
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <app-required [form]="form" [prop]="'name'"></app-required>
    </mat-form-field>
    <h2>Title</h2>
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error
        *ngIf="
          form.get('title')?.hasError('required') && form.get('title')?.touched
        "
      >
        This field is required.
      </mat-error>
    </mat-form-field>
    <h2>TLDR</h2>
    <mat-form-field class="full-width">
      <mat-label>TLDR</mat-label>
      <input matInput formControlName="tldr" />
      <app-required [form]="form" [prop]="'tldr'"></app-required>
    </mat-form-field>
    <h2>About me</h2>
    <mat-form-field class="full-width">
      <mat-label>About me</mat-label>
      <textarea matInput formControlName="aboutMe"></textarea>
      <app-required [form]="form" [prop]="'aboutMe'"></app-required>
    </mat-form-field>
    <h2>Image</h2>
    <mat-form-field class="full-width">
      <mat-label>Image</mat-label>
      <input matInput formControlName="image" />
      <app-required [form]="form" [prop]="'image'"></app-required>
    </mat-form-field>
    <h2>Job Status</h2>
    <mat-form-field class="full-width">
      <mat-label>Job Status</mat-label>
      <input matInput formControlName="jobStatus" />
      <app-required [form]="form" [prop]="'jobStatus'"></app-required>
    </mat-form-field>
    <h2>Hobbies</h2>
    <button
      mat-button
      class="add-button"
      (click)="formActions.addSubField(form, 'hobbies')"
    >
      Add hobby
    </button>
    <div formArrayName="hobbies">
      <div
        *ngFor="
          let subField of formActions.getFormArray(form, 'hobbies').controls;
          let j = index
        "
      >
        <div class="social-link-container">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Hobby"
              [formControl]="formActions.getFormControl(form, 'hobbies', j)"
            />
            <mat-error
              *ngIf="
                formActions
                  .getFormControl(form, 'hobbies', j)
                  .hasError('required') &&
                formActions.getFormControl(form, 'hobbies', j).touched
              "
            >
              This field is required.
            </mat-error>
          </mat-form-field>
          <button
            mat-button
            (click)="formActions.removeSubField(form, 'hobbies', j)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
    <h2>Social Links</h2>
    <button
      mat-button
      class="add-button"
      (click)="formActions.addSubField(form, 'socialLinks')"
    >
      Add Social Link
    </button>
    <div formArrayName="socialLinks">
      <div
        *ngFor="
          let subField of formActions.getFormArray(form, 'socialLinks')
            .controls;
          let j = index
        "
      >
        <div class="social-link-container">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="https://facebook.com"
              [formControl]="formActions.getFormControl(form, 'socialLinks', j)"
            />
            <mat-error
              *ngIf="
                formActions
                  .getFormControl(form, 'socialLinks', j)
                  .hasError('required') &&
                formActions.getFormControl(form, 'socialLinks', j).touched
              "
            >
              This field is required.
            </mat-error>
            <mat-error
              *ngIf="
                formActions
                  .getFormControl(form, 'socialLinks', j)
                  .hasError('pattern') &&
                formActions.getFormControl(form, 'socialLinks', j).touched
              "
            >
              Please enter a valid URL.
            </mat-error>
          </mat-form-field>
          <button
            mat-button
            (click)="formActions.removeSubField(form, 'socialLinks', j)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
    <h2>Resume</h2>
    <mat-form-field class="full-width">
      <mat-label>Resume</mat-label>
      <input matInput formControlName="resume" />
      <app-required [form]="form" [prop]="'resume'"></app-required>
    </mat-form-field>
    <h2>Transcript</h2>
    <mat-form-field class="full-width">
      <mat-label>Transcript</mat-label>
      <input matInput formControlName="transcript" />
      <app-required [form]="form" [prop]="'transcript'"></app-required>
    </mat-form-field>
    <button mat-button (click)="formActions.deleteForm(formActions.bioForm, i)">
      Delete Form
    </button>
  </mat-expansion-panel>
</div>
<button mat-button (click)="formActions.addForm(formActions.bioForm)">
  Add Another Form
</button>
