<mat-icon class="home-icon">home</mat-icon>
<a class="home-link" href="/">Home</a>
<p *ngIf="formActions.invalidForms().length > 0">
  Issue in{{ formActions.invalidForms() }} form(s)!
</p>
<mat-horizontal-stepper [linear]="false">
  <!-- Bio -->
  <mat-step [stepControl]="formActions.bioForm[0]">
    <ng-template matStepLabel>Bio Form</ng-template>
    <app-bio></app-bio>
  </mat-step>

  <!-- Stats -->
  <mat-step [stepControl]="formActions.statsForm[0]">
    <ng-template matStepLabel>Stats Form</ng-template>
    <app-stats></app-stats>
  </mat-step>

  <!-- Experience -->
  <mat-step [stepControl]="formActions.experienceForm[0]">
    <ng-template matStepLabel>Experience Form</ng-template>
    <app-experience></app-experience>
  </mat-step>

  <!-- Project -->
  <mat-step [stepControl]="formActions.projectForm[0]">
    <ng-template matStepLabel>Project Form</ng-template>
    <app-project></app-project>
  </mat-step>

  <!-- Commendation -->
  <mat-step [stepControl]="formActions.commendationForm[0]">
    <ng-template matStepLabel>Commendation Form</ng-template>
    <app-commendation></app-commendation>
  </mat-step>

  <!-- Footer -->
  <mat-step [stepControl]="formActions.footerForm[0]">
    <ng-template matStepLabel>Footer Form</ng-template>
    <app-footer></app-footer>
  </mat-step>

  <!-- Submission Step -->
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <p>Review and submit your data.</p>
    <button
      mat-raised-button
      color="primary"
      (click)="formActions.submit()"
      [disabled]="!formActions.allFormsAreValid()"
    >
      Submit
    </button>
  </mat-step>
</mat-horizontal-stepper>
