<a href="/">Home</a>
<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="bioForm[0]">
    <ng-template matStepLabel>Bio Form</ng-template>
    <div *ngFor="let form of bioForm; let i = index" [formGroup]="form">
      <mat-expansion-panel>
        <mat-expansion-panel-header> Bio </mat-expansion-panel-header>
        <h2>Name</h2>
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <app-required [form]="form" [prop]="'name'"></app-required>
        </mat-form-field>
        <h2>Title</h2>
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
          <mat-error
            *ngIf="
              form.get('title')?.hasError('required') &&
              form.get('title')?.touched
            "
          >
            This field is required.
          </mat-error>
        </mat-form-field>
        <h2>TLDR</h2>
        <mat-form-field class="full-width">
          <mat-label>TLDR</mat-label>
          <input matInput formControlName="tldr" />
          <app-required [form]="form" [prop]="'tldr'"></app-required>
        </mat-form-field>
        <h2>About me</h2>
        <mat-form-field class="full-width">
          <mat-label>About me</mat-label>
          <textarea matInput formControlName="aboutMe"></textarea>
          <app-required [form]="form" [prop]="'aboutMe'"></app-required>
        </mat-form-field>
        <h2>Image</h2>
        <mat-form-field class="full-width">
          <mat-label>Image</mat-label>
          <input matInput formControlName="image" />
          <app-required [form]="form" [prop]="'image'"></app-required>
        </mat-form-field>
        <h2>Job Status</h2>
        <mat-form-field class="full-width">
          <mat-label>Job Status</mat-label>
          <input matInput formControlName="jobStatus" />
          <app-required [form]="form" [prop]="'jobStatus'"></app-required>
        </mat-form-field>
        <h2>Hobbies</h2>
        <button
          mat-button
          class="add-button"
          (click)="addSubField(form, 'hobbies')"
        >
          Add hobby
        </button>
        <div formArrayName="hobbies">
          <div
            *ngFor="
              let subField of getFormArray(form, 'hobbies').controls;
              let j = index
            "
          >
            <div class="social-link-container">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Hobby"
                  [formControl]="getFormControl(form, 'hobbies', j)"
                />
                <mat-error
                  *ngIf="
                    getFormControl(form, 'hobbies', j).hasError('required') &&
                    getFormControl(form, 'hobbies', j).touched
                  "
                >
                  This field is required.
                </mat-error>
              </mat-form-field>
              <button mat-button (click)="removeSubField(form, 'hobbies', j)">
                Remove
              </button>
            </div>
          </div>
        </div>
        <h2>Social Links</h2>
        <button
          mat-button
          class="add-button"
          (click)="addSubField(form, 'socialLinks')"
        >
          Add Social Link
        </button>
        <div formArrayName="socialLinks">
          <div
            *ngFor="
              let subField of getFormArray(form, 'socialLinks').controls;
              let j = index
            "
          >
            <div class="social-link-container">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="https://facebook.com"
                  [formControl]="getFormControl(form, 'socialLinks', j)"
                />
                <mat-error
                  *ngIf="
                    getFormControl(form, 'socialLinks', j).hasError(
                      'required'
                    ) && getFormControl(form, 'socialLinks', j).touched
                  "
                >
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="
                    getFormControl(form, 'socialLinks', j).hasError(
                      'pattern'
                    ) && getFormControl(form, 'socialLinks', j).touched
                  "
                >
                  Please enter a valid URL.
                </mat-error>
              </mat-form-field>
              <button
                mat-button
                (click)="removeSubField(form, 'socialLinks', j)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
        <h2>Resume</h2>
        <mat-form-field class="full-width">
          <mat-label>Resume</mat-label>
          <input matInput formControlName="resume" />
          <app-required [form]="form" [prop]="'resume'"></app-required>
        </mat-form-field>
        <h2>Transcript</h2>
        <mat-form-field class="full-width">
          <mat-label>Transcript</mat-label>
          <input matInput formControlName="transcript" />
          <app-required [form]="form" [prop]="'transcript'"></app-required>
        </mat-form-field>
        <button mat-button (click)="deleteForm(bioForm, i)">Delete Form</button>
      </mat-expansion-panel>
    </div>

    <button mat-button (click)="addForm(bioForm)">Add Another Form</button>
  </mat-step>

  <!-- Step 2 -->
  <mat-step [stepControl]="statsForm[0]">
    <form *ngFor="let form of statsForm; let i = index" [formGroup]="form">
      <ng-template matStepLabel>Stats Form</ng-template>
      <mat-expansion-panel>
        <mat-expansion-panel-header> Stats </mat-expansion-panel-header>
        <h2>Title</h2>
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
          <app-required [form]="form" [prop]="'title'"></app-required>
        </mat-form-field>
        <h2>Value</h2>
        <mat-form-field class="full-width">
          <mat-label>Value</mat-label>
          <input matInput formControlName="value" />
          <app-required [form]="form" [prop]="'value'"></app-required>
        </mat-form-field>
        <h2>Description</h2>
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
          <app-required [form]="form" [prop]="'description'"></app-required>
        </mat-form-field>
        <button mat-button (click)="deleteForm(statsForm, i)">Delete</button>
      </mat-expansion-panel>
    </form>
    <button mat-button (click)="addForm(statsForm)">Add Another Form</button>
  </mat-step>

  <!-- Experience -->
  <mat-step [stepControl]="experienceForm[0]">
    <form *ngFor="let form of experienceForm; let i = index" [formGroup]="form">
      <ng-template matStepLabel>Experience Form</ng-template>
      <mat-expansion-panel>
        <mat-expansion-panel-header> Experience </mat-expansion-panel-header>
        <h2>Title</h2>
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
          <app-required [form]="form" [prop]="'title'"></app-required>
        </mat-form-field>
        <h2>Summary</h2>
        <mat-form-field class="full-width">
          <mat-label>Summary</mat-label>
          <input matInput formControlName="summary" />
          <app-required [form]="form" [prop]="'summary'"></app-required>
        </mat-form-field>
        <h2>Story</h2>
        <mat-form-field class="full-width">
          <mat-label>Story</mat-label>
          <textarea matInput formControlName="story"></textarea>
          <app-required [form]="form" [prop]="'story'"></app-required>
        </mat-form-field>
        <h2>Skills</h2>
        <button
          mat-button
          class="add-button"
          (click)="addSubField(form, 'skills')"
        >
          Add skill
        </button>
        <div formArrayName="skills">
          <div
            *ngFor="
              let subField of getFormArray(form, 'skills').controls;
              let j = index
            "
          >
            <div class="social-link-container">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="HTML, React, ExpressJS..."
                  [formControl]="getFormControl(form, 'skills', j)"
                />
                <mat-error
                  *ngIf="
                    getFormControl(form, 'skills', j).hasError('required') &&
                    getFormControl(form, 'skills', j).touched
                  "
                >
                  This field is required.
                </mat-error>
              </mat-form-field>
              <button mat-button (click)="removeSubField(form, 'skills', j)">
                Remove
              </button>
            </div>
          </div>
        </div>
        <h2>Links</h2>
        <button
          mat-button
          class="add-button"
          (click)="addSubField(form, 'links')"
        >
          Add Link
        </button>
        <div formArrayName="links">
          <div
            *ngFor="
              let subField of getFormArray(form, 'links').controls;
              let j = index
            "
          >
            <div class="social-link-container">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="https://facebook.com"
                  [formControl]="getFormControl(form, 'links', j)"
                />
                <mat-error
                  *ngIf="
                    getFormControl(form, 'links', j).hasError('required') &&
                    getFormControl(form, 'links', j).touched
                  "
                >
                  This field is required.
                </mat-error>
                <mat-error
                  *ngIf="
                    getFormControl(form, 'links', j).hasError('pattern') &&
                    getFormControl(form, 'links', j).touched
                  "
                >
                  Please enter a valid URL.
                </mat-error>
              </mat-form-field>
              <button mat-button (click)="removeSubField(form, 'links', j)">
                Remove
              </button>
            </div>
          </div>
        </div>
        <h2>Org Name</h2>
        <mat-form-field class="full-width">
          <mat-label>Org Name</mat-label>
          <input matInput formControlName="orgName" />
          <app-required [form]="form" [prop]="'orgName'"></app-required>
        </mat-form-field>
        <h2>Date start and end</h2>
        <mat-form-field class="full-width">
          <mat-label>Date start and end</mat-label>
          <input matInput formControlName="dateStartEnd" />
          <app-required [form]="form" [prop]="'dateStartEnd'"></app-required>
        </mat-form-field>
        <h2>Current role?</h2>
        <mat-form-field class="full-width">
          <mat-label>Current role?</mat-label>
          <mat-select formControlName="current">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button (click)="deleteForm(experienceForm, i)">
          Delete
        </button>
      </mat-expansion-panel>
    </form>
    <button mat-button (click)="addForm(experienceForm)">
      Add Another Form
    </button>
  </mat-step>

  <!-- Submission Step -->
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <p>Review and submit your data.</p>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="!allFormsAreValid()"
    >
      Submit
    </button>
  </mat-step>
</mat-horizontal-stepper>
