.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.social-link-container {
  display: flex;
  align-items: center; /* Vertically align items in the center */
}

.social-link-container .full-width {
  margin-right: 10px; /* or whatever space you want between the input and the button */
}

h2,
button.mat-button {
  text-align: left;
}

.social-link-container button {
  margin-bottom: 20px; /* Adjust this value to give the desired space between the button and the next item */
}

button.mat-button.add-button {
  text-align: left;
}
