body {
  background-color: #d1a3ef; /* Off-white background color for the entire body */
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  flex: 1;
  text-align: center;
  padding: 100px 0;
}

.hero-text {
  font-family: "Poppins", sans-serif; /* Use the Poppins font for the text */
  font-weight: 600; /* Use a slightly bold weight for emphasis */
  font-size: 48px; /* Increase the font size */
  color: #6d47d1; /* A playful color, but you can adjust based on preference */
  margin-bottom: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.footer-text-muted {
  font-size: 14px;
  color: #6c757d;
}

.footer-link {
  margin-left: 5px;
  text-decoration: none;
  color: #007bff;
}

.footer-link:hover {
  text-decoration: underline;
}
