<div class="wrapper">
  <div class="hero">
    <h1 class="hero-text">Next Portfolio Template CMS</h1>
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer">
  <span class="footer-text-muted">Created by</span>
  <a class="footer-link" href="https://zacharylyh.bio">Yi-Hong Lee</a>
  <br />
  <span class="footer-text-muted">CMS for</span>
  <a
    class="footer-link"
    href="https://github.com/zacharyLYH/Next-Portfolio-Template"
    >Next Portfolio Template Project</a
  >
</footer>
