.file-input {
  display: none;
}

.file-upload {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
}

.upload-btn {
  margin-left: 10px;
  padding: 0; /* Remove padding */
  width: 35px; /* Set a fixed width for the circular button */
  height: 35px; /* Set the same height as the width for a circle */
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Make it circular */
  overflow: hidden; /* Hide any overflow content */
}

.upload-btn mat-icon {
  margin: 0; /* Remove margin to center the icon */
}

.container-box {
  border: 1px solid #d1d1d1;
  background-color: #f8f9fa;
  display: inline-block;
  padding: 15px;
  border-radius: 8px;
  margin: 20px 0;
}

.container-box.light {
  background-color: #ffffff;
}

.or-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px 0;
}

.or-border {
  flex: 1;
  height: 1px;
  background-color: #d1d1d1;
}

.or-text {
  margin: 0 10px;
  color: #6c757d;
  font-size: 14px;
}

.generate-btn {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.generate-btn:hover {
  text-decoration: underline;
}
